<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'images/fav.png' %}">
    <style>
        *{font-family: JetBrains Mono;}
        a{text-decoration: none; color: #5C5C5C;}
        body{
            display: none;
        }

        @media (min-width: 992px){
           body {
                display: block;
            }
        }
    </style>
    <title>Order Summary</title>
</head>
<body>
<ul class="nav">
    <li class="nav-item athletics">
        <a class="nav-link" href="{% url 'athletic' %}">ATHLETICS</a>
    </li>
  <li class="nav-item casual">
     <a class="nav-link" href="{% url 'casual' %}">CASUAL</a>
  </li>
  <li class="nav-item street">
      <a class="nav-link" href="{% url 'streetwear' %}">STREETWEAR</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" id="brand" href="{% url 'home' %}">Haute Couture</a>
  </li>
</ul>

    <div class= "container pt-5 mt-5">
        <div class="table-responsive text-nowrap">
    <h3>
        <strong>Your Cart</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.name }}</td>
            <td>
            {% if order_item.item.discount_price %}
                 <s> Ksh. {{ order_item.item.value}}</s>
                Ksh. {{ order_item.item.discount_price }}
            {% else %}
                Ksh. {{ order_item.item.value}}
            {% endif %}

            </td>
            <td>
                <a href="{% url 'reduce-quantity-item' order_item.item.pk %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'add-to-cart' order_item.item.pk %}"><i class="fas fa-plus ml-2"></i></a>
                 <a href="{% url 'reduce-quantity-item' order_item.item.pk %}">
                <p class="float-right">reduce quantity</p>
                </a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                Ksh. {{ order_item.get_discount_item_price }}
                <span class="badge badge-success" >Saved Ksh. {{ order_item.get_amount_saved }}</span>
            {% else %}
                Ksh. {{ order_item.get_total_item_price}}
            {% endif %}
             <a href="{% url 'remove-from-cart' order_item.item.pk %}">
                <p class="float-right">remove item</p>
             </a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Your Cart Empty</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="{% url 'athletic' %}" class="btn bg-black text-light float-right">Continue Shopping</a>
            </td>
        </tr>

        {% endfor %}

        {% if object.get_total_price %}
        <tr>
            <td colspan="4"><b>Total Order Price</b></td>
            <td>Ksh. {{ object.get_total_price }}</td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="{% url 'athletic' %}" class="bg-white float-right">Continue Shopping</a>
                <a href="#" class="btn bg-black text-light float-right ml-2">Checkout Ksh.{{ object.get_total_price }}</a>
            </td>
        </tr>

        {% endif %}

        </tbody>
    </table>

        </div>
    </div>




</body>
</html>