{#{% extends 'master_product.html' %}#}
{##}
{#{% block title %}{{ casual.name }}{% endblock %}#}
{#{% block link %}{{ casual.image.url }}{% endblock %}#}
{#{% block img %}{{ casual.image.url }}{% endblock %}#}
{#{% block name %}{{ casual.name }}{% endblock %}#}
{#{% block value %}{% if casual.discount_price %}#}
{#                  {{ casual.discount_price }}#}
{#                  {% else %}#}
{#                  {{ casual.value }}#}
{#                  {% endif %}{% endblock %}#}
{#{% block cart %}{{ casual.get_add_to_cart_url }}{% endblock %}#}
{#{% block description %}{{ casual.description }}{% endblock %}#}
{##}
{##}
