{#{% extends 'master_product.html' %}#}
{##}
{#{% block title %}{{ streetwear.name }}{% endblock %}#}
{#{% block link %}{{ streetwear.image.url }}{% endblock %}#}
{#{% block img %}{{ streetwear.image.url }}{% endblock %}#}
{#{% block name %}{{ streetwear.name }}{% endblock %}#}
{#{% block value %}{% if streetwear.discount_price %}#}
{#                  {{ streetwear.discount_price }}#}
{#                  {% else %}#}
{#                  {{ streetwear.value }}#}
{#                  {% endif %}{% endblock %}#}
{#{% block cart %}{{ streetwear.get_add_to_cart_url }}{% endblock %}#}
{#{% block description %}{{ streetwear.description }}{% endblock %}#}
{##}
{##}
